@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root
{
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --Dark-Gray: hsl(0, 0%, 55%);
    --Very-Dark-Gray: hsl(0, 0%, 41%);
}

body
{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Alata";
}

.phone-only
{
    display: none;
}

@media screen and (max-width: 800px)
{
    .phone-only
    {
        display: block;
    }
}

/*begin::header*/
header
{
    position: relative;
    height: 90vh;
    background-image: url('../images/desktop/image-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    font-family: "Alata";
    padding-left: 10vw;
    padding-right: 10vw;
    z-index: 10;
}

header::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}

header > nav
{
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header > nav a 
{
    text-decoration: none;
    color: white;
}

header > nav a:not(:first-child)
{
    margin-left: 25px;
}

header h2
{
    font-size: 72px;
    text-transform: uppercase;
    font-family: "Josefin Sans";
    max-width: 50%;
    padding: 24px;
    border: 2px solid white;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

@media screen and (max-width: 800px)
{
    header > nav > div:last-child
    {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--Black);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    header > nav > div:last-child a
    {
        margin: 0;
        font-family: "Josefin Sans";
        font-size: 32px;
        text-transform: uppercase;
    }

    header > nav > div:last-child a:not(:last-child)
    {
        margin-bottom: 25px;
    }

    header h2
    {
        font-size: 48px;
        max-width: none;
    }

    header > nav[data-status="open"] img
    {
        position: fixed;
        z-index: 1000;
        top: 50px;
        left: 5vw;
    }

    header > nav[data-status="open"] span[data-menuaction="open"]
    {
        display: none;
    }

    header > nav[data-status="open"] span[data-menuaction="close"]
    {
        position: fixed;
        z-index: 1000;
        top: 50px;
        right: 5vw;
        cursor: pointer;
    }

    header > nav[data-status="open"] span[data-menuaction="close"] img
    {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        bottom: auto;
    }

    header > nav[data-status="close"]
    {
        display: none;
    }
}
/*end::header*/

/*begin::main*/
main > section
{
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

main section h2
{
    font-size: 52px;
    text-transform: uppercase;
    font-family: "Josefin Sans";
    color: var(--Black);
    font-weight: 300;
    margin: 0;
}
/*end::main*/

/*begin::button*/
.btn
{
    padding: 16px 32px;
    color: var(--Black);
    background-color: transparent;
    text-transform: uppercase;
    border: 3px solid var(--Black);
    text-decoration: none;
    letter-spacing: 8px;
    font-weight: bold;
    transition: all .25s ease;
}

.btn:hover
{
    background-color: var(--Black);
    color: white;
}
/*end::button*/

/*begin::interactive-vr*/
section#interactive-vr
{
    align-items: center;
    position: relative;
}

section#interactive-vr > div:first-child
{
    width: 80%;
    height: 80vh;
    background-image: url("../images/desktop/image-interactive.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}

section#interactive-vr > div:last-child
{
    position: absolute;
    padding-top: 85px;
    padding-left: 85px;
    background-color: white;
    width: 30%;
    right: 10vw;
    bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#interactive-vr > div:last-child p
{
    margin-top: 25px;
    color: var(--Dark-Gray);
}
/*end::interactive-vr*/

/*begin::our-creations*/
section#our-creations
{
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

section#our-creations > div:first-child
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14vh;
}

section#our-creations > div:nth-child(2)
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

section#our-creations > div:nth-child(2) > div
{
    width: calc(16vw - 12px);
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 24px;
    margin-bottom: 4vh;
}

section#our-creations > div:nth-child(2) > div::before
{
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    /* Created with https://www.css-gradient.com */
    background: #010101CC;
    background: -webkit-linear-gradient(bottom, #010101CC, #01010100);
    background: -moz-linear-gradient(bottom, #010101CC, #01010100);
    background: linear-gradient(to top, #010101CC, #01010100);
}

section#our-creations > div:nth-child(2) > div h3
{
    margin: 0;
    color: white;
    font-family: "Josefin Sans";
    text-transform: uppercase;
    font-weight: 300;
    font-size: 32px;
    max-width: 75%;
}

[data-image="deep-earth"]
{
    background-image: url('../images/desktop/image-deep-earth.jpg');
}

[data-image="night-arcade"]
{
    background-image: url('../images/desktop/image-night-arcade.jpg');
}

[data-image="soccer-team-vr"]
{
    background-image: url('../images/desktop/image-soccer-team.jpg');
}

[data-image="the-grid"]
{
    background-image: url('../images/desktop/image-grid.jpg');
}

[data-image="from-up-above-vr"]
{
    background-image: url('../images/desktop/image-from-above.jpg');
}

[data-image="pocket-borealis"]
{
    background-image: url('../images/desktop/image-pocket-borealis.jpg');
}

[data-image="the-curiosity"]
{
    background-image: url('../images/desktop/image-curiosity.jpg');
}

[data-image="make-it-fisheye"]
{
    background-image: url('../images/desktop/image-fisheye.jpg');
}
/*end::our-creations*/

/*begin::footer*/
footer
{
    background-color: var(--Black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
    height: 22vh;
}

footer > div
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer a
{
    color: white;
    text-decoration: none;
}

footer > div a:not(:last-child)
{
    margin-right: 25px;
}

footer p
{
    color: var(--Dark-Gray);
}
/*end::footer*/